{{- $data := include ".chezmoidata/packages.yaml" | fromYaml -}}
{{- $recipients := list -}}
{{- range $name, $machine := $data.machines -}}
{{-   if hasKey $machine "age_recipient" -}}
{{-     $recipients = append $recipients $machine.age_recipient -}}
{{-   end -}}
{{- end -}}
encryption = "age"

[age]
    identity = "~/.ssh/id_ed25519"
    recipients = [{{ range $i, $r := $recipients }}{{ if $i }}, {{ end }}{{ $r | quote }}{{ end }}]
    armor = true
